body
{
 margin:0;
/* padding:5px;*/
 font-family: Verdana,Helvetica,Ariel;
 font-size: 13px;
 color:#efefef;
 background-image: url(../pix/main_background3.jpg);
 background-position: top;
 background-repeat: no-repeat;
 background-attachment: scroll;
 background-color: #000000;
}

#PageContainer
{
 position:relative;
 text-align: left;
 width: 800px;
 height: 610px; /*640? i don't know how big this should be...*/
/* padding:0px;*/
 margin: auto;
 clear:both;
 overflow:hidden;
 word-wrap:break-word;
/* color:yellow;*/
 padding-top:15px;
 padding-bottom:5px;
 padding-right:25px;
 padding-left:25px;
 float:none;
}

.bgbox
{
 margin:8px;
 background-color: rgba(70, 70, 70, .60);
 border: 3px rgba(70, 70, 70, .70);
 padding-top:20px;
 padding-bottom:20px;
 padding-right:20px;
 padding-left:20px;
 border-radius:10px;
/* float:left;*/
}

.bluebgbox
{
 background-color: inherit;
/* border: 3px rgba(70, 70, 70, .70);*/
/* padding-top:20px;
 padding-bottom:20px;
 padding-right:20px;
 padding-left:20px;*/
 border-radius:10px;
}

#login, #Console
{
 padding-left:40px;
 text-align: left;
 margin: auto;
 float:right;
 color:yellow;
}

.Console-large
{
 height: 320px;
 width: 160px;
 padding-top:40px;
 padding-bottom:40px;

}

.Console-small
{
 min-height: 15px;
 min-width: 160px;
 padding-top:20px;
 padding-bottom:20px;

}


#logout, #MenuNode
{
/* padding-top:20px;
 padding-bottom:20px;*/
 color:yellow;
 text-align: left;
 min-width: 160px;
/* height: 30px;8*/
 margin: auto;
 float:right;
}

.right {float:right; clear:right;}
.left {float:left; clear:left;}
.bold {font-weight: bold}

.content 
{
 float:left;
 position:relative;
}

#Technology
{
 max-width:664px;
 max-height:522px;
}

#loading
{
 margin:auto;
 position:absolute;
 top:0px; bottom:0px; left:0px; right:0px;
 background-color:rgba(1,1,1,0.75);
 border-radius:10px;
 width:66%;
 height:40%;	
 z-index:3;
 overflow:hidden;
/*text-align ? */
}

#loadtext {
 max-height:60px;
 max-width:200px;
 }

a {font-weight:bold;}
a:link {color:#cccccc;}
a:visited {color:#aaaaaa;}
a:active {color:#cccccc;}
a:hover, span#OpenMenu:hover {color:#ffffff;}

.title {color:yellow;}

.hidden {display: none;}

.error
{
 font-weight:bold;
 color:red;
}

a
{
 font-weight:bold;
 color: #cccccc;
 text-decoration:underline;
}

select, textarea, input, div.EditText
{ 
 background-color: #202020; 
 color: #c0c0c0; 
 border: 1px solid #404040;
}

a.content, .content input, div.AddAbove
{
 text-decoration:none;
 font: 13px Verdana;
 padding-right:4px;
 padding-left:4px;
/*border:0px solid #333;*/
 color:#c0c0c0;
 background:#202020;
 background-color: rgba(70, 70, 10, .60);
/*    border-radius: 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; */
 border-radius:10px;
} 

.content input:hover, .content a:hover,.AddAbove div:hover, #DesignHelp:hover{background-color: rgba(10, 10, 70, .60);}


#menu 
{
 min-width:450px;
}

.menuitem 
{
 margin:auto;
 width:200px;
 height:200px;
 border:2px solid #333;
 color:#222;
 background:#999;
 border-radius:10px;
 padding-right:4px;
 padding-left:4px;
 display:inline-block;

}
.quote {font-style:italic;}

.CloseButton, .ReloadButton, .EditButton 
{
 float:right;
 margin-top:10px;
 margin-right:10px;
}

.ZIndexPlus
{
	position:absolute;
	top:60px;
	left:686px;
	z-index:1;
}

.ZIndexMinus
{
	position:absolute;
	top:74px;
	left:687px;
	z-index:1;
}

.XYpan
{
	position:absolute;
	top:93px;
	left:686px;
	z-index:1;
}

#NewDesignForm, #HelperTextContainer, #LoadDesignFormContainer, #CombatTestContainer
{
 margin:auto;
 width:704px;
 height:562px;
 z-index:3;
 position:absolute;
 top:0px;
 left:0px;
 background-color: rgba(1, 1, 1, .80);
 border-radius:10px;
}

.clear,
#NewShipForm, #HelperText, #LoadDesignForm, #DescContainer {clear:both; }

#HelperText { padding:3px; text-align:justify;}

#SpacePort { margin-left:120px; margin-right:120px; margin-top:30px;}

#DesignCanvas, #EquipCanvas
{
 height:480px;
 width:640px;
 border:1px solid #ddd;
 float:right;
 position:relative; 
 background-image:url(../pix/grid.png);	
}

#columnleft
{
 margin:auto;
 float:left;
}

.Right { float:right;}

input.HelpText
{
 /*display:table;*/
 /*vertical-align:middle;*/
 text-align: center;
 /*border-radius:50%;*/
 width: 20px;
 height: 20px;
 padding:0px;
}

#HelperTextContainer {  background-color: rgba(100, 100, 0, .70);
}


#DesignHelp {
  background-color: rgba(70, 70, 10, .60);
 position:absolute;
 top:17px;
 left:660px;
}

.DesignUnit
{
 height:20px;
 width:20px;
 border:1px solid #ddd;
}
.DesignEquip
{
 height:20px;
 width:20px;
 border:1px solid #ddd;
 display:inline-block;
 z-index:3;
}


#SimData {
 position:absolute;
 z-index:1;
 left:180px;
 top:0px;
 border-radius:10px;
 padding-left:5px;
 padding-right:5px;
 background-color: rgba(10,10,10,0.7);
}
.ShipElement
{
 height:20px;
 width:20px;
 position:absolute;
}

.Hull {background-image:url(../pix/Hull.png);}
.Room {background-image:url(../pix/Room.png);}
.System {background-image:url(../pix/System.png);}
.OxygenGen {background-image:url(../pix/OxygenGen.png);}
.PowerSupply {background-image:url(../pix/PowerSupply.png);}

.WeaponSystem {background-image:url(../pix/WeaponSystem.png);}
